
@{
    ViewBag.Title = "Stories";
}

<h2>Stories</h2>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<div class="container mt-3">

    <div class="media border p-3">
        <img src="~/Image/FENCE.JPG" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <h4>שירה <small><i>פורסם  ב פבואר 2020</i></small></h4>
            <p>אין כמו דיאט!! הדיאטה הטובה ביותר!!</p>
        </div>
    </div>


    <div class="media border p-3">
        <img src="~/Image/{BFAB7F94-25E8-4D09-9277-16936913D7C2}.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;" />
        <div class="media-body">
            <h4>יעלי  <small><i>פורסם  בינואר, 2016</i></small></h4>
            <p>אחרי הרבה נסיונות !! אין כמו דיאט...</p>
        </div>
    </div>
    <div class="media border p-3">
        <img src="~/Image/1-4400898-7381-t.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;" />
        <div class="media-body">
            <h4>שרי <small><i>פורסם  ב פבואר 2020, 2016</i></small></h4>
            <p>מומלץ בחום!!!!</p>
        </div>
    </div>
</div>

